/*.active {
    display: block;
}

.hidden {
    display: none;
}


.control-prev {
    top: 17rem;
    left: 2%;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
}

.control-next {
    width: 24px;
    height: 44.47px;
    top: 25.7rem;
    left: 94%;
    border: none;
    background-color: transparent;
    position: absolute;
    cursor: pointer;
}

.inner-container {
    width: 599px;
    height: 331px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding-top: 112px;
    padding-bottom: 112px;
    margin-left: 200px;
}

.inner-container h5 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    margin: 0;
    color: #FFFFFF;
}

.inner-container h1 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    letter-spacing: 0.2px;
    margin: 0;
    color: #FFFFFF;
}

.inner-container h4 {
    width: 376px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #FAFAFA;
    margin: 0;
}

.inner-container button {
    width: 228px;
    height: 62px;
    gap: 10px;
    padding-top: 15px;
    padding-right: 40px;
    padding-bottom: 15px;
    padding-left: 40px;
    border-radius: 5px;
    background-color: #2DC071;
    border: none;
    cursor: pointer;
}

.inner-container button h3 {
    font-family: Montserrat;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-align: center;
    margin: 0;
    color: #FFFFFF;
}*/