.navbar-container {
    width: 100%;
    /*89.938rem;*/
    height: 8.5rem;
}

.navbar-dark {
    background-color: #252B42;
    width: 100%;
    box-sizing: border-box;
    height: 3.62rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.navbar-col-left {
    width: 415px;
    height: 46;
    display: flex;
    gap: 10px;
}

.navbar-phone {
    width: 145px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
}

h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.phone-img,
.email-img {
    width: 1rem;
    height: 1rem;
}

.phone-number {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 104px;
    height: 24px;
}

.navbar-email {
    width: 260px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;
    border-radius: 5px;
}

.email-address {
    color: #FFFFFF;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    width: 219px;
    height: 24px;
}

.navbar-col-middle {
    width: 332px;
    height: 44px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar-col-right {
    display: flex;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-media a {
    padding: 5px;
}

.navbar-light {
    width: 100%;
    box-sizing: border-box;
    height: 3.62rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    border: 1px solid #23A6F0;
    /* border kaldırılacak */
}

.navbar-brand {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
    margin: 0;
}

.navbar-nav-middle {
    display: flex;
    flex-direction: column;
}

.middle-nav-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.link,
.dropbtn,
.dropdown-content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    text-decoration: none;
    color: #737373;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.dropdown-content {
    position: absolute;
    top: 115px;
    left: 475px;
    background-color: white;
    display: flex;
    border: 1px solid #ccc;
}

.female,
.male {
    width: 186px;
}

.female-header,
.male-header {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    color: #252B42;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
}

.female a,
.male a {
    display: flex;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.navbar-nav-right {
    color: #23A6F0;
    display: flex;
    align-items: center;
}

.login-register,
.search,
.cart,
.heart {
    display: flex;
    gap: 5px;
    padding: 15px;
    text-decoration: none;
}

.login-register p {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-align: center;
    color: #23A6F0;
}